@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');

html {
	height: 100%;
	font-size: 16px;
	font-family: arial;
}
body {
	height: 100%;
	margin: 0;
}
#interface {
	min-height: 100%;
	display: grid;
	grid-template-rows: auto 1fr auto;
	background-color: orange;
	& > header, & > footer {
		padding: .5em 1em;
		background-color: #EEE;
		display: flex;
		justify-content: space-between;
	}
	& > header {
		order: -1000;
		h1 {
			margin: 0;
		}
	}
	& > footer {
		order: 1000;
		font-size: smaller;
	}
}

#app {
	padding: 1em;
	& > h1 {
		text-align: center;
		color: white;
		text-shadow: 0 .05em black;
	}
}

#facture {
	background-color: white;
	box-shadow: .5em .5em 1em #0006;
	width: 15em;
	margin: 0 auto;
	padding: 2em 2em 4em;
	font-family: 'Inconsolata', monospace;

	h1 {
		text-align: center;
	}
	div {
		text-align: right;
		position: relative;
		border-top: 1px solid #ccc;
		&::before {
			left: 0;
			position: absolute;
		}
		&:first-of-type {
			border-top: none;
		}
	}
	.soustotal, .prixunitaire, .total {
		border-top: 2px solid #000;
	}
	.article, .total {
		font-weight: bold;
	}
	.article::before {
		content:"Article:";
	}
	.prixunitaire::before {
		content:"Prix unitaire:";
	}
	.quantite::before {
		content:"Quantité:";
	}
	.livraison::before {
		content:"Livraison:";
	}
	.soustotal::before {
		content:"Sous-total:";
	}
	.tps::before {
		content:"TPS:";
	}
	.tvq::before {
		content:"TVQ:";
	}
	.total::before {
		content:"Total:";
	}
}